{{- $toc := .TableOfContents -}}
{{- $hasToc := and $toc (ne .Params.toc false) (gt (len (findRE "<li>" $toc)) 0) -}}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{- if $hasToc -}}
    <button class="toc-toggle" aria-expanded="false" aria-controls="toc">
      {{- partial "icon.html" "toc-open" -}}
      {{- partial "icon.html" "toc-close" -}}
      <span class="visually-hidden">Inhoudsopgave tonen</span>
    </button>
    {{- end -}}
  </header>
  {{ .Content }}
  {{- $pageNav := partial "page-nav.html" . -}}
  {{- if or .Params.show_lastmod (trim $pageNav " \n\t") -}}
  <footer>
    {{- if .Params.show_lastmod -}}
    <p>Deze pagina is voor het laatst bijgewerkt op <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod | time.Format ":date_full" }}</time>.</p>
    {{- end -}}
    {{- $pageNav -}}
  </footer>
  {{- end -}}
</article>
{{- if $hasToc -}}
<aside id="toc" class="toc">
  <h2>Op deze pagina</h2>
  {{ $toc }}
</aside>
{{- end -}}
