{{ if and (site.Params.breadcrumbs.enable | default true) (not .IsHome) }}
{{ $home := site.Home }}
<nav class="breadcrumbs" aria-label="Kruimelpad">
  <ol>
    <li class="breadcrumbs__item">
      <a href="{{ $home.RelPermalink }}">{{ site.Params.breadcrumbs.home_label | default "Home" }}</a>
    </li>
    {{ range .Ancestors.Reverse }}
      {{ if ne . $home }}
      <li class="breadcrumbs__item">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
    <li class="breadcrumbs__item" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>
{{ end }}
