{{- /*
  Nummert de "Voorschrift"-koppen als "Voorschrift <norm_id>.<n>". Elke replaceRE
  met limit 1 pakt het eerstvolgende ongenummerde voorschrift. Gedeeld met de
  PDF-output, zodat beide dezelfde nummering tonen.

  Aanroep: {{ partial "nummer-voorschriften.html" (dict "content" .Content "norm_id" .Params.norm_id) }}
*/ -}}
{{- $content := .content -}}
{{- $normId := .norm_id -}}
{{- range $i, $_ := (findRE `<h4 id="voorschrift[^"]*">Voorschrift</h4>` $content) -}}
  {{- $content = replaceRE `(<h4 id="voorschrift[^"]*">)Voorschrift(</h4>)` (printf `${1}Voorschrift %v.%d${2}` $normId (add $i 1)) $content 1 -}}
{{- end -}}
{{- return $content -}}
