{{/*
  Shadow van de theme-scripts; enige verschil is js/toegankelijkheid.js achteraan
  de bundel. Dat patcht themadefecten die niet uit CSS of onze templates op te
  lossen zijn (zie docs/toegankelijkheidsonderzoek-2026-08.md).

  TIJDELIJK. Bij elke `just update-theme` vergelijken met de thema-versie, anders
  mist de site stilletjes nieuwe thema-JS.
*/}}
{{- $baseJs := resources.Get "js/base.js" -}}
{{- $tocJs := resources.Get "js/toc.js" -}}
{{- $referentiesJs := resources.Get "js/referenties.js" -}}
{{- $fuseJs := resources.Get "lib/fuse/fuse.min.js" -}}
{{- $searchJs := resources.Get "js/search.js" -}}
{{- $a11yJs := resources.Get "js/toegankelijkheid.js" -}}
{{- $js := slice $baseJs $tocJs $referentiesJs $fuseJs $searchJs $a11yJs | resources.Concat "js/bundle.js" | fingerprint "md5" -}}
<script src="{{ $js.RelPermalink }}"></script>
