<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ site.Title }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Title }}{{ end }}">
<link rel="shortcut icon" href="{{ "favicon/favicon.ico" | relURL }}" type="image/x-icon">
<link rel="icon" sizes="192x192" href="{{ "favicon/touch-icon.png" | relURL }}">
<link rel="apple-touch-icon" href="{{ "favicon/apple-touch-icon.png" | relURL }}">
{{ $tokens := resources.Get "css/mox/_rijkshuisstijl.css" }}
{{ $moxvars := resources.Get "css/mox/_mox.css" }}
{{ $reset := resources.Get "css/mox/_reset.css" }}
{{ $mox := resources.Get "css/mox/style.css" }}
{{ $custom := resources.Get "css/main.css" }}
{{ $bundle := slice $tokens $moxvars $reset $mox $custom | resources.Concat "css/bundle.css" }}
<link rel="stylesheet" href="{{ $bundle.RelPermalink }}">
