{{- /*
  Render tekst met {ref:N} → onderstippelde underline op het direct
  voorafgaande woord. Hover/focus toont een tooltip met
  referenties[N-1].tekst en (indien aanwezig) een Bekijk-bron-link.

  Gebruik: {{ partial "reftext.html" (dict "tekst" .tekst "page" $page) }}
*/ -}}
{{- $tekst := .tekst | markdownify -}}
{{- $base := "x" | relURL -}}
{{- $base = strings.TrimSuffix "x" $base -}}
{{- if ne $base "/" -}}
  {{- $tekst = replace $tekst "href=\"/" (printf "href=\"%s" $base) -}}
{{- end -}}
{{- $page := .page -}}
{{- range $i, $ref := $page.Params.referenties -}}
  {{- $num := add $i 1 -}}
  {{- $textEsc := $ref.tekst | htmlEscape -}}
  {{- $linkHTML := "" -}}
  {{- with $ref.url -}}
    {{- $linkHTML = printf "<a href=\"%s\" class=\"ref-tooltip__link\">Bekijk bron ↗</a>" . -}}
  {{- end -}}
  {{- $tooltip := printf "<span class=\"ref-tooltip\" role=\"note\"><span class=\"ref-tooltip__text\">%s</span>%s</span>" $textEsc $linkHTML -}}
  {{- $pattern := printf "([^\\s<>]*)(\\s*)\\{ref:%d\\}" $num -}}
  {{- $replace := printf "<span class=\"ref-wrapper\"><span class=\"ref-term\" tabindex=\"0\">${1}</span>%s</span>${2}" $tooltip -}}
  {{- $tekst = replaceRE $pattern $replace $tekst -}}
{{- end -}}
{{- $tekst | safeHTML -}}
